.mat-toolbar {
  display: grid;
  grid-template-columns: 2em 2em 1fr auto;
  column-gap: 0.5em;
  row-gap: 1em;
  justify-content: center;

  h1 {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
  }
}

main {
  max-width: 1080px;
  margin: auto;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}
