<mat-toolbar>
  <button mat-icon-button aria-label="home" routerLink="/">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button aria-label="menu" [matMenuTriggerFor]="menu">
    <mat-icon matTooltip="Menu - select activity like abseil, canoe, kayak, etc" matTooltipPosition="below">menu</mat-icon>
  </button>
  <h1>
    @if( selectedGroup(); as group ) {
    <span class="hide-on-small">Rock School -</span> {{ group.name }}} @else { Rock School }
  </h1>
  <div class="buttons">
    @if( login()) {
    <button mat-icon-button aria-label="User settings screen" (click)="logout()">
      <mat-icon matTooltip="Log out" matTooltipPosition="below">logout</mat-icon>
    </button>
    }
    <button mat-icon-button aria-label="User settings screen" [routerLink]="['/user']">
      <mat-icon matTooltip="View Your User" matTooltipPosition="below">settings</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  @for ( group of groups(); track group.id ) {
  <button mat-menu-item (click)="gotoGroup(group)">
    <mat-icon>chevron_right</mat-icon>
    <span>{{ group.name }}</span>
  </button>

  } @if(claims().isAdmin || claims().isVerify) {
  <button mat-menu-item routerLink="/users">
    <mat-icon>list</mat-icon>
    <span>Users</span>
  </button>
  } @if(claims().isAdmin || claims().isVerify) {
  <mat-button-toggle-group [value]="action" (change)="changeAction($event.value)" aria-label="Action">
    <mat-button-toggle value="view">View</mat-button-toggle>
    <mat-button-toggle value="verify">Verify</mat-button-toggle>
    @if(claims().isAdmin ) {
    <mat-button-toggle value="edit">Edit</mat-button-toggle>
    }
  </mat-button-toggle-group>
  } @if( id() && login()) {
  <button mat-menu-item>
    <mat-icon matTooltip="Print selected activity PDF" matTooltipPosition="below">print</mat-icon>
    <mat-icon>done all</mat-icon>
    <span>Dump Completed</span>
  </button>
  <button mat-menu-item [routerLink]="['pdf', id()]">
    <mat-icon matTooltip="Print selected activity PDF" matTooltipPosition="below">print</mat-icon>
    <mat-icon>voicemail</mat-icon>
    <span>PDF Workbooks</span>
  </button>
  }
</mat-menu>
<main>
  <router-outlet></router-outlet>
</main>
