.mat-toolbar {
  display: grid;
  grid-template-columns: 2em 1fr 2em;
  column-gap: 1em;
  row-gap: 1em;
  justify-content: center;

  h1 {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
  }
}
