<mat-toolbar>
  <button mat-icon-button aria-label="menu" [matMenuTriggerFor]="menu">
    <mat-icon matTooltip="Menu - select activity like abseil, canoe, kayak, etc" matTooltipPosition="below">menu</mat-icon>
  </button>
  <h1>
    @if( selectedGroup$| async; as group ) {
    <span class="hide-on-small">Rock School -</span> {{ group.name }}} @else { Rock School }
  </h1>
  <div class="buttons">
    @if( login$ | async; as lg) {
    <button mat-icon-button aria-label="User settings screen" (click)="logout()">
      <mat-icon matTooltip="Log out" matTooltipPosition="below">logout</mat-icon>
    </button>
    }
    <button mat-icon-button aria-label="User settings screen" [routerLink]="['/user']" routerLinkActive="active-link">
      <mat-icon matTooltip="View Your User" matTooltipPosition="below">settings</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  @for ( group of groups$ | async; track group.id ) {
  <button mat-menu-item (click)="gotoGroup(group)">
    <mat-icon>chevron_right</mat-icon>
    <span>{{ group.name }}</span>
  </button>

  }

  <button mat-menu-item routerLink="/">
    <mat-icon>chevron_right</mat-icon>
    <span>Home</span>
  </button>

  <mat-button-toggle-group [value]="action" (change)="changeAction($event.value)" aria-label="Action">
    <mat-button-toggle value="view">View</mat-button-toggle>
    <mat-button-toggle value="verify">Verify</mat-button-toggle>
    <mat-button-toggle value="edit">Edit</mat-button-toggle>
  </mat-button-toggle-group>

  @if( id() && (login$ | async)) {
  <button mat-menu-item>
    <mat-icon matTooltip="Print selected activity PDF" matTooltipPosition="below">print</mat-icon>
    <mat-icon>done all</mat-icon>
    <span>Dump Completed</span>
  </button>
  <button mat-menu-item [routerLink]="['pdf', 'safe', id()]">
    <mat-icon matTooltip="Print selected activity PDF" matTooltipPosition="below">print</mat-icon>
    <mat-icon>voicemail</mat-icon>
    <span>Safe Workbook</span>
  </button>

  <button mat-menu-item [routerLink]="['pdf', 'trained', id()]">
    <mat-icon matTooltip="Print selected activity PDF" matTooltipPosition="below">print</mat-icon>
    <mat-icon>notifications</mat-icon>
    <span>Trained Workbook</span>
  </button>
  <button mat-menu-item [routerLink]="['pdf', 'guide', id()]">
    <mat-icon matTooltip="Print selected activity PDF" matTooltipPosition="below">print</mat-icon>
    <mat-icon>open_in_full</mat-icon>
    <span>Guide Workbook</span>
  </button>
  }
</mat-menu>
<main>
  <router-outlet></router-outlet>
</main>
