<mat-toolbar class="secondary">
  @for ( group of groups$ | async; track group ) {
  <mat-toolbar-row>
    <button
      mat-raised-button
      (click)="click(group)"
      [ngClass]="{ selected: group.id === groupId }"
    >
      {{ group.name }}
    </button>
  </mat-toolbar-row>
  }
</mat-toolbar>



<div>
  <h3>Create a new Group</h3>
  <input
    class="full-width"
    type="text"
    required
    [(value)]="newGroup"
    (blur)="changeGroupName($event)"
  />

  <div>{{ newGroup }}</div>
  <button mat-button (click)="createNew()">Add New Group</button>
</div>
