<mat-card>
  <mat-toolbar class="secondary">
    @for ( group of groups$ | async; track group.id ) {
    <mat-toolbar-row>
      <button class="group-button" mat-raised-button (click)="click(group)" [ngClass]="{ selected: group.id === groupId }">
        {{ group.name }}
      </button>
    </mat-toolbar-row>
    }
  </mat-toolbar>
</mat-card>

@if( (login$ | async ) === null ) {
<mat-card>
  <div class="login">
    <button mat-stroked-button [routerLink]="['/user/new']">Create a new user</button>
    <button mat-stroked-button [routerLink]="['/login']">Login</button>
  </div>
</mat-card>
} @if( login$ | async ) {
<mat-card>
  <button mat-stroked-button (click)="addNewGroup()">Add New Group</button>
</mat-card>
}
