.list {
  margin: 0.2rem;
  display: grid;
  grid-template-columns: 1fr 3rem 4rem;
  column-gap: 1em;
  row-gap: 1em;
  justify-content: center;

  input[type=checkbox] {
    max-width: 1.5em;
  }

  img {
    max-width: 100%;
  }


  .text-input {
    display: grid;
    gap: 0.5rem;
  }
}

.list.titles {
  span {
    color: var(--accent);
    font-size: 1.5rem;
  }

  .text-input {
    display: grid;
  }
}
