.list {
  border: 1px solid rgba(0, 105, 255, 0.45);
  border-top: 0;
  border-radius: 7px;
  padding: 0.5rem 1rem;
}

.list {
  display: grid;
  grid-template-columns: 1fr 3em 4em;
  column-gap: 1em;
  row-gap: 1em;
  justify-content: center;

  input {
    max-width: 1em;
  }
}

.list.titles {
  span {
    color: var(--accent);
    padding: 0.5rem 0;
    font-size: 1.5rem;
  }
}
