<div #result>
  <mat-toolbar class="list titles secondary">
    <span>Can statement</span>
    <span>Done</span>
    @if(isVerify) {
    <span>Verify</span>
    }
  </mat-toolbar>

  @for (page of detail$ | async; track page.heading) {
  <section [attr.aria-label]="page.heading">
    <app-collapse [heading]="page.heading" [show]="page.show">
      <header>
        @if(page.doneCount){
        <span class="hint"><span class="hide-on-small">Completed Assessments: </span>{{ page.doneCount }}/{{ page.totalCount }}</span>
        }
      </header>
      @if(page.description){
      <div caption class="padding hint">
        {{ page.description }}
      </div>
      }
      <div class="list">
        @for (d of page.details; track d.question.code) { @switch( d.question.type) { @default {
        <span>{{ d.question.text }}</span>
        <input type="checkbox" [checked]="d.answer.done" (change)="updateDone(d, !d.answer.done)" />
        } @case("img") {
        <img [src]="d.question.img" [alt]="d.question.text" />
        <span></span>
        } @case("textbox") {
        <div class="text-input">
          <span>{{ d.question.text }}</span>
          <input type="text" [value]="d.answer.text || ''" [placeholder]="d.question.placeholder" matInput (blur)="updateText(d, $event)" />
        </div>
        <span></span>
        } }

        @if(isVerify && d.question.type !== 'img') {
        <input type="checkbox" [checked]="d.answer.verified" (change)="updateVerify(d.question.code, !d.answer.verified)" />
        } @else { @if( d.question.attachmentRequired) {
        <div>
          <button mat-icon-button (click)="uploadProof(d)"><mat-icon>attach_file_add</mat-icon></button>
          @if(d.answer.proof){
          <button mat-icon-button (click)="viewProof(d)"><mat-icon>cloud_download</mat-icon></button>
          }
        </div>
        } @else {
        <div></div>
        } } }
      </div>
    </app-collapse>
  </section>
  }
</div>
<button class="mat-margin-20" mat-raised-button (click)="print()">Screen shot</button>
