.drag {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 1rem;
  gap: 0.5rem;

  border: 5px solid var(--mat-sys-primary);

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    white-space: nowrap;
    color: var(--mat-sys-primary);
  }

  * {
    color: var(--mat-sys-primary);
    font-size: 2rem;
  }

  mat-icon {
    width: auto;
    height: auto;
    color: var(--mat-sys-on-primary);
    background-color: var(--mat-sys-primary);
  }
}

.message {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 1rem;

  background-color: var(--mat-sys-on-error-container);
  color: var(--mat-sys-on-error);
}

input[type='file'] {
  display: none;
}
