.list {
  display: grid;
  grid-template-columns: 1fr auto auto;
  column-gap: 1em;
  justify-content: center;

  input[type='checkbox'] {
    min-width: 1.4rem;
  }

  * {
    min-height: 40px;
    align-self: center;
  }

  img {
    max-width: 100%;
  }

  .text-input {
    display: grid;
    gap: 0.5rem;
  }
}

.list.titles {
  margin-bottom: 0.2rem;
  span {
    color: var(--accent);
    font-size: 1.5rem;
  }

  .text-input {
    display: grid;
  }
}

.hint.title {
  display: block;
  width: 30ch;
  text-align: right;
}

@media screen and (max-width: 599px) {
  .hint.title {
    width: 8ch;
  }
}
