:host {
  > * {
    margin: 2rem;
  }
}

form {
  margin: auto;
  max-width: 60ch;
  display: grid;
  grid-template-columns: 1fr;
}

.mat-mdc-form-field:first {
  margin-bottom: 1rem;
}

.card {
  margin-top: 1rem;
  padding: 0 0.5rem;
  background-color: var(
    --mdc-filled-text-field-container-color,
    var(--mat-sys-surface-variant)
  );
  font-family: var(
    --mat-form-field-container-text-font,
    var(--mat-sys-body-large-font)
  );
  line-height: var(
    --mat-form-field-container-text-line-height,
    var(--mat-sys-body-large-line-height)
  );
  font-size: var(
    --mat-form-field-container-text-size,
    var(--mat-sys-body-large-size)
  );
  letter-spacing: var(
    --mat-form-field-container-text-tracking,
    var(--mat-sys-body-large-tracking)
  );
  font-weight: var(
    --mat-form-field-container-text-weight,
    var(--mat-sys-body-large-weight)
  );
  border: 0 solid;
  border-bottom-color: var(
    --mdc-filled-text-field-active-indicator-color,
    var(--mat-sys-on-surface-variant)
  );
  border-bottom-width: var(
    --mdc-filled-text-field-active-indicator-height,
    1px
  );
}
