
.table {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;

  .box {
    border: 1px black solid;
    border-bottom: none;
  }

  .titles {
    font-size: 1.5rem;
    font-weight: bold;
    justify-self: center;
  }
}
