<div class="table">
  <div class="heading">
    <div class="owner">Adventurous Activities</div>
    <div class="title">{{ title() }}</div>
    <div class="group">Group: {{ group?.name }}</div>
  </div>

  <form [formGroup]="pdfForm" (ngSubmit)="print()">
    <app-level-select formControlName="level" [(level)]="book" ngDefaultControl></app-level-select>

    <button mat-raised-button type="submit" [disabled]="noData()">Print</button>
  </form>

  @if( noData()) {
  <h2>Empty PDF</h2>
  }


  @if( incomplete()) {
  <h2>Some questions are not answered</h2>
  }
  <app-pdf-user></app-pdf-user>
</div>
