mat-card {
  padding: 1rem;
  display:grid;
  gap: 0.5rem;
  grid-template-columns: 1fr;
  max-width: 50ch;
}

:host {
  display: grid;
  justify-items: center;
  align-items: center;
  background: url(/login_background.jpg) repeat 0 0;
  height: 100%;
  background-size: contain;
}
