@if( questions$ | async; as sections ) {

<div
  cdkDropListGroup
  cdkDropList
  [cdkDropListData]="sections"
  (cdkDropListDropped)="dropHeading($event)"
>
  @for (d of sections; track d.heading; let idx = $index) {
  <div class="group" cdkDrag [cdkDragData]="d">
    <app-collapse [heading]="d.heading">
      <header>
        <button
          mat-icon-button
          aria-label="Export PDF"
          (click)="editSection(d, idx, sections)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Add a question"
          (click)="addQuestion(d)"
        >
          <mat-icon>add</mat-icon>
        </button>
      </header>

      <div
        class="list"
        [ngClass]="{ hide: !d.show }"
        cdkDropList
        [cdkDropListData]="d.questions"
        (cdkDragMoved)="dragMoved($event)"
        (cdkDropListDropped)="dropQuestion($event)"
      >
        @for (q of d.questions; track q.code) {
        <div cdkDrag [cdkDragData]="q" class="question-item">
          <button
            mat-icon-button
            aria-label="Edit question"
            (click)="editQuestion(q)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <span>{{ q.text }}</span>
        </div>
        }
      </div>
    </app-collapse>
  </div>
  }
</div>
<button mat-raised-button (click)="addSection(sections)">
  Add a new section
</button>
}
