form {
  margin: auto;
  margin-top: 2em;
  max-width: 60ch;
  display: grid;
  grid-template-columns: 1fr;
}

h4 {
  margin-left: 2rem;
  font-weight: bold;
}

.question-item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  --mdc-icon-button-state-layer-size: 24px;
  div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    line-height: 1;
    .mat-icon {
      color: var(--mat-sys-primary);
    }
    button {
      padding: 0;
    }
  }

  div:nth-child(1) {
    margin: 0.5rem;
  }
}

.edit-title {
  display: inline-grid;
  gap: 0.15rem;
  grid-template-areas: 'level buttons  counter';
  grid-template-columns: 60px auto auto;

  span {
    grid-area: level;
    width: 10ch;
    text-align: center;
  }

  div {
    grid-area: buttons;
    button {
      margin-left: 0.5rem;
    }
  }
  sub {
    grid-area: counter;
    width: 22ch;
    text-align: right;
  }
}

@media screen and (max-width: 599px) {
  .edit-title {
    grid-template-areas: 'edit question';
    grid-template-columns: auto;

    & > :first-child {
      display: none;
    }
    & > :nth-child(4) {
      display: none;
    }
    & > :nth-child(5) {
      display: none;
    }
  }
}
