.list {
  margin-top: 0.5em;
  display: grid;
  row-gap: 0.5em;
  align-content: center;
}

.hide {
  display: none;
}

form {
  margin: auto;
  margin-top: 2em;
  max-width: 60ch;
  display: grid;
  grid-template-columns: 1fr;

  button {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    border-color: var(--mat-sys-inverse-primary);
    padding: 0.5em 2em;
    margin: 0.5rem;
  }
}

.question-item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
