<form #userForm="ngForm" (ngSubmit)="save()">
  <mat-form-field>
    <mat-label>Question Text</mat-label>
    <input
      type="text"
      matInput
      [formControl]="textFormControl"
      [errorStateMatcher]="matcher"
      placeholder="I can...,OR paddle image"
    />
    <mat-hint>Your first name and last name!</mat-hint>
    @if (textFormControl.hasError('required')) {
    <mat-error>Question text is <strong>required</strong></mat-error>
    }
  </mat-form-field>

  @if( controlType() === 'url'){
  <mat-form-field>
    <mat-label>Url (if required)</mat-label>
    <input
      type="url"
      matInput
      [formControl]="urlFormControl"
      [errorStateMatcher]="matcher"
      placeholder="Ex. /public/canoe.png"
    />
  </mat-form-field>
  } @if( controlType() === 'img'){
  <mat-form-field>
    <mat-label>image</mat-label>
    <input
      type="img"
      matInput
      [formControl]="imgFormControl"
      [errorStateMatcher]="matcher"
      placeholder="Ex. /public/canoe.png"
    />
  </mat-form-field>
  }

  <div class=card>
    <mat-checkbox
      [checked]="attachmentRequired"
      (change)="attachmentRequired = $event.checked"
      >Attachment Required</mat-checkbox
    >
  </div>
  <div class="hint">
      Are you required to provide physical proof? For example certificate or a
      photo
    </div>

  <p >
    Type?
    <mat-button-toggle-group
      [value]="controlType()"
      (change)="controlType.set($event.value)"
      aria-label="Action"
    >
      <mat-button-toggle value="">Checkbox</mat-button-toggle>
      <mat-button-toggle value="url">Url</mat-button-toggle>
      <mat-button-toggle value="img">Image</mat-button-toggle>
      <mat-button-toggle value="textbox">TextBox</mat-button-toggle>
    </mat-button-toggle-group>
  </p>

  <mat-card-actions>
    <button mat-raised-button type="submit">Save</button>
  </mat-card-actions>
</form>
