<form [formGroup]="groupForm" (ngSubmit)="save()">
  <mat-toolbar>
    <h2>Edit Group</h2>
  </mat-toolbar>

  <mat-form-field>
    <mat-label>Group name</mat-label>
    <input
      type="text"
      matInput
      formControlName="name"
      [errorStateMatcher]="matcher"
      placeholder="Canoe,  Kayak,  White water Kayak"
    />
    <mat-hint
      >Work book grouping</mat-hint
    >
    @if (groupForm.controls['name'].hasError('required')) {
    <mat-error>Group name is <strong>required</strong></mat-error>
    }
  </mat-form-field>

  <div class="card">
    <mat-checkbox [checked]="hasSafe" (change)="setSafe($event.checked)"
      >Safe Workbook</mat-checkbox
    >
  </div>

  @if( hasSafe){

  <mat-form-field>
    <mat-label>Safe Workbook Name</mat-label>
    <input
      type="text"
      matInput
      formControlName="safeName"
      [errorStateMatcher]="matcher"
      placeholder="Ex. Core Skills – Trained Participant"
    />
    @if (groupForm.controls['safeName'].hasError('required')) {
    <mat-error>Workbook name is <strong>required</strong></mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Safe workbook heading</mat-label>
    <input
      type="text"
      matInput
      formControlName="safeHeading"
      [errorStateMatcher]="matcher"
      placeholder="Ex. /public/canoe.png"
    />
    @if (groupForm.controls['safeHeading'].hasError('required')) {
    <mat-error>Workbook heading is <strong>required</strong></mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Safe workbook footing</mat-label>
    <input
      type="text"
      matInput
      formControlName="safeFooting"
      [errorStateMatcher]="matcher"
      placeholder="Ex. /public/canoe.png"
    />
    @if (groupForm.controls['safeFooting'].hasError('required')) {
    <mat-error>Workbook footer is <strong>required</strong></mat-error>
    }
  </mat-form-field>

}

  <div class="card">
    <mat-checkbox [checked]="hasTrained" (change)="setTrained($event.checked)"
      >Trained Workbook</mat-checkbox
    >
  </div>

  @if( hasTrained ){
  <mat-form-field>
    <mat-label>Trained Workbook name</mat-label>
    <input
      type="text"
      matInput
      formControlName="trainedName"
      [errorStateMatcher]="matcher"
      placeholder="Sample of what the text should be"
    />
    @if (groupForm.controls['trainedName'].hasError('required')) {
    <mat-error>Workbook heading is <strong>required</strong></mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Trained Workbook heading</mat-label>
    <input
      type="text"
      matInput
      formControlName="trainedHeading"
      [errorStateMatcher]="matcher"
      placeholder="Sample of what the text should be"
    />
    @if (groupForm.controls['trainedHeading'].hasError('required')) {
    <mat-error>Workbook heading is <strong>required</strong></mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Trained Workbook footing</mat-label>
    <input
      type="text"
      matInput
      formControlName="trainedFooting"
      [errorStateMatcher]="matcher"
      placeholder="Sample of what the text should be"
    />
    @if (groupForm.controls['trainedHeading'].hasError('required')) {
    <mat-error>Workbook footing is <strong>required</strong></mat-error>
    }
  </mat-form-field>
  }

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button type="submit">Save</button>
  </mat-dialog-actions>
</form>
