<form [formGroup]="groupForm" (ngSubmit)="save()">
  <mat-toolbar>
    <h2>Edit Group</h2>
  </mat-toolbar>

  <mat-form-field>
    <mat-label>Group name</mat-label>
    <input type="text" matInput formControlName="name" [errorStateMatcher]="matcher" placeholder="Canoe,  Kayak,  White water Kayak" />
    <mat-hint>Work book grouping</mat-hint>
    @if (groupForm.controls['name'].hasError('required')) {
    <mat-error>Group name is <strong>required</strong></mat-error>
    }
  </mat-form-field>

  <h2>Change to set headers and footers:</h2>
  <div class="card">
    <app-level-select formControlName="level" [(level)]="level"></app-level-select>
  </div>


  <h2>{{level()}} workbook</h2>

  <mat-form-field>
    <mat-label>Workbook Name</mat-label>
    <input
      type="text"
      matInput
      formControlName="levelName"
      [errorStateMatcher]="matcher"
      placeholder="Ex. Core Skills – Trained Participant"
    />
    @if (groupForm.controls['levelName'].hasError('required')) {
    <mat-error>Workbook name is <strong>required</strong></mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Workbook heading</mat-label>
    <input
      type="text"
      matInput
      formControlName="heading"
      [errorStateMatcher]="matcher"
      placeholder="Ex. Safe Participant Abseil workbook"
    />
    @if (groupForm.controls['heading'].hasError('required')) {
    <mat-error>Workbook heading is <strong>required</strong></mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Workbook footing</mat-label>
    <input type="text" matInput formControlName="footing" [errorStateMatcher]="matcher" placeholder="Ex. Provides for magic SIS code..." />
    @if (groupForm.controls['footing'].hasError('required')) {
    <mat-error>Workbook footer is <strong>required</strong></mat-error>
    }
  </mat-form-field>

  <mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close>Cancel</button>
    <button mat-raised-button type="submit">Save</button>
  </mat-dialog-actions>
</form>
